<div class="preloader-body">
    <div class="preloader-container">
        <img loading="lazy" src="<%- siteData.SITE_LOGO %>" alt="" class="preloader-image">
        <br>
        <div class="line"></div>
    </div>
</div>
